@font-face{
	font-family: 'Gridnik';
	src: url('https://feral-atlas.nyc3.digitaloceanspaces.com/fonts/Foundry%20Gridnik%20W03%20Regular.ttf');
}

html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Gridnik', sans-serif;
	font-weight: 400;
}